<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588860561356-cve6dl6a0rse1i4ur83nd55oab9c5qmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588860561356-cve6dl6a0rse1i4ur83nd55oab9c5qmf</string>
	<key>API_KEY</key>
	<string>AIzaSyC8G-zf90kNZx6YQMg3t5wq4bmdyxUH0MY</string>
	<key>GCM_SENDER_ID</key>
	<string>588860561356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>secret-diary-notes-with-lock</string>
	<key>STORAGE_BUCKET</key>
	<string>secret-diary-notes-with-lock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588860561356:ios:f7274802f7ffaa483cef69</string>
</dict>
</plist>